.fetch-movies-btn {
  position: fixed;
  z-index: 50;
  top: 10%;
  left: 50%;
}

.fetch-movies-btn input {
  width: 100%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
  width: 33.0%;
  height: 150px;
  float: left;
}

.list-group-item:hover {
  background-color: #eee;
}

ul .movie-description {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul .movie-description li {
    display: block;
    padding: 5px;
}
